name: Nuclei API Scan

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # ---------------- GET REQUEST SCAN ----------------
      - name: Run Nuclei GET Scan
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/root/ \
            projectdiscovery/nuclei:latest \
            nuclei -t /root/api-scan.yaml \
                   -var RequestFile=/root/get.txt \
                   -u https://demo.testfire.net \
                   -o /root/nuclei-get-output.txt

      - name: Upload GET results
        uses: actions/upload-artifact@v4
        with:
          name: nuclei-get-results
          path: nuclei-get-output.txt

      # ---------------- POST REQUEST SCAN ----------------
      - name: Run Nuclei POST Scan
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/root/ \
            projectdiscovery/nuclei:latest \
            nuclei -t /root/api-scan.yaml \
                   -var RequestFile=/root/post.txt \
                   -u https://demo.testfire.net \
                   -o /root/nuclei-post-output.txt

      - name: Upload POST results
        uses: actions/upload-artifact@v4
        with:
          name: nuclei-post-results
          path: nuclei-post-output.txt
