name: Nuclei Simple Scan

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # ---------------- GET REQUEST ----------------
      - name: Run Nuclei GET
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/root \
            projectdiscovery/nuclei:latest \
            nuclei -t /root/api-scan.yaml \
                   -var RequestFile=/root/get.txt \
                   -u https://demo.testfire.net \
          > nuclei-get-output.txt

      - name: Upload GET Output
        uses: actions/upload-artifact@v4
        with:
          name: nuclei-get-results
          path: nuclei-get-output.txt

      # ---------------- POST REQUEST ----------------
      - name: Run Nuclei POST
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/root \
            projectdiscovery/nuclei:latest \
            nuclei -t /root/api-scan.yaml \
                   -var RequestFile=/root/post.txt \
                   -u https://demo.testfire.net \
          > nuclei-post-output.txt

      - name: Upload POST Output
        uses: actions/upload-artifact@v4
        with:
          name: nuclei-post-results
          path: nuclei-post-output.txt
