name: nuclei-api-dast

on:
  workflow_dispatch:
  push:

jobs:
  dast:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nuclei v3.1.7
        run: |
          wget https://github.com/projectdiscovery/nuclei/releases/download/v3.1.7/nuclei_3.1.7_linux_amd64.zip -O nuclei317.zip
          unzip nuclei317.zip -d nuclei317
          chmod +x nuclei317/nuclei
          mv nuclei317/nuclei ./nuclei

      - name: Download Swagger
        run: |
          wget -O swagger.json "https://demo.testfire.net/swagger/properties.json"

      - name: Generate Templates
        run: |
          mkdir -p oas-templates
          ./nuclei -openapi swagger.json -o oas-templates/

      - name: Run Nuclei Scan (Docker)
        run: |
          mkdir -p results
          docker run --rm \
            -v ${{ github.workspace }}:/work \
            projectdiscovery/nuclei:latest \
            nuclei -t /work/oas-templates/ \
              -o /work/results/api-dast-results.txt \
              -severity low,medium,high,critical

      - name: Upload Results
        uses: actions/upload-artifact@v4
        with:
          name: nuclei-api-dast-results
          path: results/
