name: ZAP API DAST (Swagger)

on:
  workflow_dispatch:
  push:

jobs:
  zap:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run ZAP API Scan (Swagger)
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/zap/wrk \
            ghcr.io/zaproxy/zaproxy:stable \
            zap-api-scan.py \
              -t https://demo.testfire.net/swagger/properties.json \
              -f openapi \
              -r zap-report.html \
              -w zap-warnings.md \
              -x zap-report.xml \
              -J zap-report.json

      - name: Upload ZAP Reports
        uses: actions/upload-artifact@v4
        with:
          name: zap-api-dast-results
          path: |
            zap-report.html
            zap-report.xml
            zap-report.json
            zap-warnings.md
